@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

#titulo1{
    color: rgb(95, 10, 5);
    text-shadow: 2px 2px green;
    font-size: 20pt;
    margin-left: 30px;
    font-weight: bold;
}

.t1 {
    text-indent: 5px;
    color: blue;
    text-decoration: underline;
}

.t2{
    text-align: center;
    letter-spacing: 2px;
}

body{  
    font-family: 'Bungee Spice', cursive;
    font-size: 1em;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    font-variant: ;
}

p{
    font:italic bold 1em Arial, Helvetica, sans-serif;
}
